.register {
  width: 90%;
  .register-header {
    img {
      display: none;
    }
  }
  .register-middle {
    .register-middle-right{
      display: none;
    }
  }
  .register-blew {
    .register-blew-left{
      display: none;
    }
  }
}